{% extends "../_layouts/default.html" %} {% block main %}

    <div class="container">

      <form class="form-signin" action="/login" method="post" >
        <h2 class="form-signin-heading">Please log in</h2>
        <label for="name" class="sr-only">Username</label>
        <input type="text" id="name" class="form-control" placeholder="User name" required autofocus>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
        <a href="/signup">Sign up</a>
      </form>

    </div> <!-- /container -->

{% endblock %}
