{% extends "../_layouts/default.html" %} {% block main %}

<div class="container">
  <div class="row">
  <form class="form-signin col-auto ml-auto mr-auto mt-3" action="/dashboard/password/reset" method="post">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
    <h2 class="form-signin-heading">Reset password</h2>
    <div class="form-group">
      <label for="password" class="sr-only">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        class="form-control"
        placeholder="Password"
        required
        pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"
        title="Minimum eight characters, at least one letter and one number"
      />
    </div>
    <div class="form-group">
      <label for="password" class="sr-only">Repeat Password</label>
      <input
        type="password"
        id="password"
        name="password1"
        class="form-control {{is_invalid}}"
        placeholder="Password"
        required
      />
      <div class="invalid-feedback">Both fields must match</div>
    </div>

    <button class="btn btn-lg btn-primary btn-block mb-3" type="submit">
      Reset
    </button>
  </form>
  </div>
</div>
{% endblock %}
